<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="detalle-movimiento-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }

      /*table, th, td {
        //border-style: groove;
        //border-width: medum;
        //border-color: blue;
        border: 2px solid blue;

      }*/
    </style>
    <h1>Detalle del movimiento {{id}} </h1>
    <iron-ajax auto="" id="obtenerMovimiento"
              url="http://localhost:3000/v2/movimientos/{{id}}"
              handle-as="json"
              on-response="mostrarMovimiento">
    </iron-ajax>

    <!--div>

      <button class="btn btn-outline-primary" on-click="invocarPeticion">Invocar</button>
    </div-->
    <table class="table">
      <head >
        <th>id</th>
        <th>Fecha</th>
        <th>Importe</th>
        <th>Latitud</th>
        <th>Longitud</th>
        <th>Ciudad</th>
      </head>
      <tbody>

          <tr>
            <td>{{movimiento.id}}</td>
            <td>{{movimiento.fecha}}</td>
            <td>{{movimiento.importe}}</td>
            <td>{{movimiento.latitud}}</td>
            <td>{{movimiento.longitud}}</td>
            <td>{{movimiento.ciudad}}</td>

          </tr>

      </tbody>
    </table>



  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DetalleMovimientoApp extends Polymer.Element {
      static get is() { return 'detalle-movimiento-app'; }
      static get properties() {
        return {
          etuser: {
            type: String,
            value: 'detalle-movimiento-app'
          },
          etpassword: {
            type: String
          },
          etlogin: {
            type: String
          },
          valuser: {
            type: String
          },
          movimiento: {
            type: Object
          },
          notengoMovimiento: {
            type: Boolean,
            value: true
          }
        };
      }
      hacerLogin(){
        console.log("Login correcto de " + this.valuser);
        this.$.hacerLogin.generateRequest()
      }

      invocarPeticion(){
        this.$.obtenerMovimiento.generateRequest();
      }

      mostrarMovimiento(data){
        console.log(data)
        this.movimiento = data.detail.response
        this.notengoMovimiento = false
      }

    };

    window.customElements.define(DetalleMovimientoApp.is, DetalleMovimientoApp);

  </script>
</dom-module>
