<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="loginmx-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }

      /*table, th, td {
        //border-style: groove;
        //border-width: medum;
        //border-color: blue;
        border: 2px solid blue;

      }*/
    </style>
    <iron-ajax id="obtenerProductos"
              url="http://services.odata.org/V4/Northwind/Northwind.svc/Products"
              handle-as="json"
              on-response="mostrarProductos">

    </iron-ajax>
    <iron-ajax id="hacerLogin",
              url="http://localhost:3000/v2/usuarios/login"
              method="Post"
              header='{"email":"","password":""}'
              on-response="mostrarResultadoLogin">

    </iron-ajax>

    <!--div cass="row">
      <button class="col-sm-4 col-6">Boton 1</button>
      <button class="col-sm-4 col-6">Boton 2</button>
      <button class="col-sm-4 col-6">Boton 3</button>
    </div-->
    <div>
      <label for="">[[etuser]]</label>
      <input required="required" type="text" placeholder="elenanito@bbva.com" value={{valuser::input}} />
    </div>
    <div>
      <label for="">[[etpassword]]</label>
      <input required="required" type="password" />
    </div>
    <div>
      <button class="btn btn-info " on-click="hacerLogin">[[etlogin]]</button>
      <button class="btn btn-outline-primary" on-click="invocarPeticion">Invocar</button>
    </div>
    <table class="table table-striped" hidden$="{{notengoProductos}}">
      <head>
        <th>id</th>
        <th>Nombre</th>
        <th>Precio</th>
      </head>
      <tbody>
        <template is="dom-repeat" items="{{productos}}" as="prd">
          <tr>
            <td>{{prd.ProductID}}</td>
            <td>{{prd.ProductName}}</td>
            <td>{{prd.UnitPrice}}</td>
          </tr>
        </template>
      </tbody>
    </table>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginmxApp extends Polymer.Element {
      static get is() { return 'loginmx-app'; }
      static get properties() {
        return {
          etuser: {
            type: String,
            value: 'loginmx-app'
          },
          etpassword: {
            type: String
          },
          etlogin: {
            type: String,
            value: ' Ingresar '
          },
          valuser: {
            type: String
          },
          productos: {
            type: Array
          },
          notengoProductos: {
            type: Boolean,
            value: true
          }
        };
      }


      invocarPeticion(){
        this.$.obtenerProductos.generateRequest();
      }

      mostrarProductos(data){
        console.log(data)
        //console.log(data.detail.response.value)
        this.productos = data.detail.response.value
        this.notengoProductos = false
      }
      mostrarResultadoLogin(data){
         console.log(data)
         console.log(data.detail.status)
      }
    }

    window.customElements.define(LoginmxApp.is, LoginmxApp);
  </script>
</dom-module>
