<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="movimientosmx-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }

      /*table, th, td {
        //border-style: groove;
        //border-width: medum;
        //border-color: blue;
        border: 2px solid blue;

      }*/
    </style>

    <iron-ajax id="obtenerMovimientos"
              url="http://localhost:3000/v2/movimientos"
              handle-as="json"
              on-response="mostrarMovimientos">
    </iron-ajax>
    <!--div cass="row">
      <button class="col-sm-4 col-6">Boton 1</button>
      <button class="col-sm-4 col-6">Boton 2</button>
      <button class="col-sm-4 col-6">Boton 3</button>
    </div-->
    <!--div>
      <label for="">[[etuser]]</label>
      <input required="required" type="text" placeholder="elenanito@bbva.com" value={{valuser::input}} />
    </div-->
    <!--div>
      <label for="">[[etpassword]]</label>
      <input required="required" type="password" />
    </div-->
    <div>
      <!--button class="btn" on-click="hacerLogin">[[etlogin]]</button-->
      <button class="btn btn-outline-primary" on-click="invocarPeticion">Invocar</button>
    </div>
    <spam>{{ciudadSeleccionada}}</spam>
    <table class="table table-striped" hidden$="{{notengoMovimientos}}">
      <head>
        <th>id</th>
        <th>Fecha</th>
        <th>Importe</th>
        <th>Latitud</th>
        <th>Longitud</th>
        <th>Ciudad</th>
        <th>Detalles</th>
      </head>
      <tbody>
        <template is="dom-repeat" items="{{movimientos}}" as="prd">
          <tr on-click="mostrarInfoFila">
            <td>{{prd.id}}</td>
            <td>{{prd.fecha}}</td>
            <td>{{prd.importe}}</td>
            <td>{{prd.latitud}}</td>
            <td>{{prd.longitud}}</td>
            <td>{{prd.ciudad}}</td>
            <td><a class="btn btn-info" href="/movimientos/[[prd.id]]">Ver</a></td>
          </tr>
        </template>
      </tbody>
    </table>


      <div class="row">
        <template is="dom-repeat" items="{{movimientos}}" as="prd">
        <div class="card" style="width: 18rem;">
          <img src="https://maps.googleapis.com/maps/api/staticmap?center=[[prd.ciudad]]&zoom=6&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true" alt="Card image cap">
              <h5 class="card-title" styke="bgcolor: grey;">ID - {{prd.id}}</h5>
              <p class="card-text">Fecha: {{prd.fecha}}</p>
              <p class="card-text">Importe: {{prd.importe}}</p>
              <div class="card-body">
                  <p class="card-text">Latitud: {{prd.latitud}}</p>
                  <p class="card-text">Longitud: {{prd.longitud}}</p>
                  <p class="card-text">Ciudad: {{prd.ciudad}}</p>
              </div>
        </div>
        </template>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MovimientosmxApp extends Polymer.Element {
      static get is() { return 'movimientosmx-app'; }
      static get properties() {
        return {
          movimientos: {
            type: Array
          },
          notengoMovimientos: {
            type: Boolean,
            value: true
          },
          ciudadSeleccionada: {
            type: String
          }
        };
      }
      hacerLogin(){
        console.log("Login correcto de " + this.valuser);
        this.$.hacerLogin.generateRequest()
      }

      invocarPeticion(){
        this.$.obtenerMovimientos.generateRequest();
      }

      mostrarMovimientos(data){
        console.log(data.detail.response)
        this.movimientos = data.detail.response
        this.notengoMovimientos = false
      }
      mostrarResultadoLogin(data){
         console.log(data)
         console.log(data.detail.status)
      }
      mostrarInfoFila(e){
        console.log(e);
        this.ciudadSeleccionada = e.model.prd.ciudad
      }
    }

    window.customElements.define(MovimientosmxApp.is, MovimientosmxApp);
  </script>
</dom-module>
